# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Github Actions Maven Build Example

on:
 push:
    branches: [ main ]
 pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: STEP-1  - Checkout main branch from Github
      uses: actions/checkout@v3
    - name: STEP-2  - Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
    - name: STEP-3  - Build with Maven Project using GITHUB ACTIONS
      run: mvn -B package --file pom.xml
      
    - name: STEP-4  - List the current Directory
      run: ls -a
      
    - name: STEP-5  - What is the Target Directory
      run: |
          cd target
          ls -a
